html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
}

body {
  position: absolute;
  width: 80%;
  left: 10%;
  top: 5%;
}

div.banner {
  padding: 20px;
  margin-top: 33px;
  text-align: center;
}

form {
  padding: 20px;
  margin-top: 33px;
}

form button, form h5 {
  margin: 20px 0;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: #ec407a;
  box-shadow: none;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label{
  color: #ec407a !important;
}

h5.grey-text.text-darken-3{
  text-align: center;
}

.trashcan{
  padding: 0px ;
  margin-top:17px !important;
}
.save-btn{
  margin-top:-10px !important;
}
.close-btn{
  margin-top:-10px !important;
}
input[type=text]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=date]:not(.browser-default),
textarea.materialize-textarea{
  height: 3rem !important;
  padding-left: 15px;
  padding-top: 15px;
}
.input-field > label{
  padding-left: 15px;
}
.fixed-action-btn{
  position:relative !important;
  float:right;
  margin-top:-45px;
}
.task_header{
  left:5%;
  position: relative;
}

.due_date_header{
  left:40%;
  position: absolute;
}

.status_header{
  left:61%;
  position: absolute;
}

span.card-content{
  padding: 0 50px 0 0 !important;
}

.card-date{
  left:38%;
  position: absolute;
}

.card-completed{
  left:66%;
  position: absolute;
}

.wireframe-link{
  grid-row-gap: 0px;
  grid-column-gap: 50px;
}

.addItem{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px !important;
  margin-bottom: 5px !important;
}

.container.white{
  width:25%;
  float:left;
}

.control-collection{
  text-align: center;
}

.rectangle{
  margin:auto;
}